@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.about-viewport{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container{
    margin-left: 20px;
    margin-right: 20px;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    border-color: #c4c2c2;;
    box-shadow: 10px 10px #dfdcdc;
    width: 50vh;
    height: 50%;
    padding-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text{
    font-family: 'Poppins', sans-serif;
}