.viewport {
  min-height: 90vh;
}
.container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grid {
  display: grid;
  width: 70%;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
}

.gallery-item {
  width: 100%;
  height: 100%;
  position: relative;
}

.gallery-item .image {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gallery-item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s ease-in-out;
}

@media (max-width: 960px) {
  .grid {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;

  }

  .gallery-item{
    flex-basis: 350px; /* width: 350px; */
  }

  .gallery-item .image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 5px;
  }
  
}

@media (min-width: 960px) {
  /* IMAGE RESIZING VIA GRID FULL SIZE */
  
  .grid div:nth-child(1) {
    /* agnes */
    grid-row: 1 / 4;
    grid-column: 1;
  }
  
  .grid div:nth-child(2) {
    /* alice */
    grid-row: 1 / 4;
    grid-column: 2;
  }
  
  .grid div:nth-child(3) {
    /* blue */
    grid-row: 1 / 4;
    grid-column: 3;
  }
  
  .grid div:nth-child(4) {
    /* bun */
    grid-row: 4 / 6;
    grid-column: 1 / 4;
  }
  
  .grid div:nth-child(5) {
    /* elpis */
    grid-row: 6 / 8;
    grid-column: 1 / 2;
  }
  
  .grid div:nth-child(6) {
    /* flower */
    grid-row: 6 / 9;
    grid-column: 2 / 3;
  }
  
  .grid div:nth-child(7) {
    /* glam1 */
    grid-row: 6 / 9;
    grid-column: 3 / 3;
  }
  
  .grid div:nth-child(8) {
    /* hien */
    grid-row: 6 / 9;
    grid-column: 3 / 3;
  }
  
  .grid div:nth-child(9) {
    /* say cheese */
    grid-row: 9 / 12;
    grid-column: 1 / 3;
  }
  
  .grid div:nth-child(10) {
    /* tifa */
    grid-row: 9 / 12;
    grid-column: 3 / 3;
  }
  
  }
  