.viewport {
    min-height: 90vh;
  }
  .container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sketches-grid {
    display: grid;
    width: 70%;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
  }

  @media (max-width: 960px) {
    .sketches-grid {
      display:flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 10px;
  
    }
    
  }
  
  @media (min-width: 960px) {
    /* IMAGE RESIZING VIA GRID FULL SIZE */

    .sketches-grid div:nth-child(1) {
        /* girl */
        grid-row: 1 / 4;
        grid-column: 1 / 3;
      }
      
      .sketches-grid div:nth-child(2) {
        /* armor practice */
        grid-row: 4 / 7;
        grid-column: 3;
      }
      
      .sketches-grid div:nth-child(3) {
        /* sketch dump */
        grid-row: 4 / 8;
        grid-column: 1 / 3;
      }
      
      .sketches-grid div:nth-child(4) {
        /* armor practice 2 */
        grid-row: 1 / 4;
        grid-column:  3;
      }
    }
    